﻿@model ROKO.Lib.PL.WebUI.Models.BookAddingWithAuthors

@{
    ViewData["Title"] = "CreateBookWithAuthors";
}

<h1>CreateBookWithAuthors</h1>

<h4>BookAddingWithAuthors</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Book">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.PlaceOfPublication" class="control-label"></label>
                <input asp-for="Book.PlaceOfPublication" class="form-control" />
                <span asp-validation-for="Book.PlaceOfPublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublishingHouse" class="control-label"></label>
                <input asp-for="Book.PublishingHouse" class="form-control" />
                <span asp-validation-for="Book.PublishingHouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublicationOrApplicationYear" class="control-label"></label>
                <input asp-for="Book.PublicationOrApplicationYear" class="form-control" />
                <span asp-validation-for="Book.PublicationOrApplicationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.NumberOfPages" class="control-label"></label>
                <input asp-for="Book.NumberOfPages" class="form-control" />
                <span asp-validation-for="Book.NumberOfPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.ISBN" class="control-label"></label>
                <input asp-for="Book.ISBN" class="form-control" />
                <span asp-validation-for="Book.ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Note" class="control-label"></label>
                <input asp-for="Book.Note" class="form-control" />
                <span asp-validation-for="Book.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authors" class="control-label"></label><br>
                <select multiple="multiple" class="js-example-basic-multiple" asp-for="@Model.Authors" asp-items="@(List<SelectListItem>)ViewBag.authors"></select>
                <span asp-validation-for="Authors" class="text-danger"></span>
            </div><br>
            <div>
                @*<button asp-action="Create" asp-controller="Author">Add New Author</button>*@
            </div>
            <div class="form-group">
                @Html.AntiForgeryToken()
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index" asp-controller="Catalog">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link href="~/css/select2.min.css" rel="stylesheet" />
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/select2connection.js"></script>
}