﻿<div id="myModal" class="modal fade" role="dialog">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModal-label">Bootstrap Dialog</h4>
                    <div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" placeholder="enter name" class="form-control" id="text" name="text" />
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="enter name id" class="form-control" id="text" name="text" />
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="adress" class="form-control" id="text" name="text" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" id="btnOK" onclick="">OK</button>
                            <button class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>