﻿@model ROKO.Lib.PL.WebUI.Models.NewspaperViewModel

@{
    ViewData["Title"] = "NewspaperWithIssuesDetails";
}

<h1>NewspaperWithIssuesDetails</h1>

<div>
    <h4>NewspaperViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentNewspaper.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentNewspaper.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentNewspaper.PlaceOfPublication)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentNewspaper.PlaceOfPublication)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentNewspaper.PublishingHouse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentNewspaper.PublishingHouse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentNewspaper.PublicationOrApplicationYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentNewspaper.PublicationOrApplicationYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentNewspaper.NumberOfPages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentNewspaper.NumberOfPages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentNewspaper.IssueNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentNewspaper.IssueNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentNewspaper.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentNewspaper.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentNewspaper.ISSN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentNewspaper.ISSN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentNewspaper.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentNewspaper.Note)
        </dd>
    </dl>
    <br />
    @Html.ActionLink("Add New Issue", "CreateIssue", new { id = Model.CurrentNewspaper.Id })
    <br />
    <p>Other Issues</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentNewspaper.IssueNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentNewspaper.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentNewspaper.PublicationOrApplicationYear)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.NewspaperIssues)
            {
                @if (item.Id == Model.CurrentNewspaper.Id)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IssueNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublicationOrApplicationYear)
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            @Html.ActionLink($"{item.IssueNumber}", "Details", new { id = item.Id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublicationOrApplicationYear)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    @if (User.IsInRole("Administrator"))
    {
        Html.ActionLink("Edit", "Edit", new { id = Model.CurrentNewspaper.Id });
    }
    <a asp-action="Index" asp-controller="Catalog">Back to List</a>
</div>