﻿@model ROKO.Lib.Entities.Book

@{
    ViewData["Title"] = "EditBookGet";
}

<h1>Book Editing</h1>

<h4>Information of Book you have chosen for editing:</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfPublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishingHouse)
            </th>
            <th>
                <text>PublicationYear</text>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Title)
            </td>
            <td>
                @foreach (var author in Model.Authors)
                {
                    <pre>@author.ToString()</pre>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PlaceOfPublication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PublishingHouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PublicationOrApplicationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.NumberOfPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Note)
            </td>
        </tr>
    </tbody>
</table>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Book">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>@Html.HiddenFor(model => model.Id)</div>
            <div>@Html.HiddenFor(model => model.Type)</div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfPublication" class="control-label"></label>
                <input asp-for="PlaceOfPublication" class="form-control" />
                <span asp-validation-for="PlaceOfPublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishingHouse" class="control-label"></label>
                <input asp-for="PublishingHouse" class="form-control" />
                <span asp-validation-for="PublishingHouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationOrApplicationYear" class="control-label"></label>
                <input asp-for="PublicationOrApplicationYear" class="form-control" />
                <span asp-validation-for="PublicationOrApplicationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPages" class="control-label"></label>
                <input asp-for="NumberOfPages" class="form-control" />
                <span asp-validation-for="NumberOfPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.AntiForgeryToken()
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Catalog List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}