﻿@model ROKO.Lib.PL.WebUI.Models.CatalogIndexViewModel
@using ROKO.Lib.PL.WebUI.Models
@{
    ViewData["Title"] = "PagedIndex";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<h1>All Catalog</h1>

@if (User.IsInRole("Administrator"))
{
    <span>Create New: </span>
    <a asp-action="Create" asp-controller="Book">Book</a>
    <a asp-action="Create" asp-controller="Newspaper">Newspaper</a>
    <a asp-action="Index" asp-controller="Newspaper">Newspaper Issue</a>
    <a asp-action="Create" asp-controller="Patent">Patent</a>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Идентификатор
            </th>
            <th>
                Количество страниц
            </th>
            @if (User.IsInRole("Administrator"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CatalogElements)
        {
            <tr>
                <td>
                    @Html.ActionLink($"{item.Name}", "Details", new { id = item.UnitId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identificator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPages)
                </td>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.UnitId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.UnitId })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<div class="container" style="margin-bottom:75px;">

    @if (Model.PageInfo.EndPage > 1)
    {
        <ul class="pagination justify-content-center">
            @if (Model.PageInfo.CurrentPage > 0)
            {
                <li class="page-item">
                    <a class="page-link" href="~/Catalog/Index">First</a>
                </li>
            }

            @for (var page = Model.PageInfo.StartPage; page <= Model.PageInfo.EndPage; page++)
            {
                <li class="@(page == Model.PageInfo.CurrentPage ? "page-item active" : "page-item")" aria-current="page">
                    @if (page == Model.PageInfo.CurrentPage)
                    {
                        <span class="page-link" href="~/Catalog/Index?page=@(page)"> @(page) </span>
                    }
                    else
                    {
                        <a class="page-link" href="~/Catalog/Index?page=@(page)"> @(page) </a>
                    }
                </li>
            }

            @if (Model.PageInfo.CurrentPage <= Model.PageInfo.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="~/Catalog/Index?page=@(Model.PageInfo.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>